@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-img {
    background-image: url('../images/pattern-background-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

@media(max-width: 576px) {
    .svg-img {
    background-image: url('../images/pattern-background-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
}